// This document stores the variables for the backgrounds for each season

$backgroundSpring: #e9f5db;
$backgroundSummer: #aaffd1;
$backgroundAutumn: #ffefd6;
$backgroundWinter: #ffffff;
$text: #252525;
